



body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  padding: 0;
}
.navbar{display:flex;
justify-content:space-between;
align-items:center;
background-color: #66BFBF;
color: white;}
.brand-title{
  font-size:1.5rem;
  margin:.5rem;
  padding-left: 2rem;
}
.navbar-links ul{
  margin:0;
  padding:0;
  display:flex;



}
.navbar-links li{
  list-style:none;
}

.navbar-links li a{
  text-decoration:none;
  color:white;
  padding:1rem;
  display:block;
}
.navbar-links li:hover{
  background-color:#00a1ab;
}
.toggle-button{
  position:absolute;
  top:.75rem;
  right:1rem;
  display:none;
  flex-direction: column;
  justify-content:space-between;
  width:30px;
  height:21px;
margin-bottom:30px;
margin-top:0px;}

  .toggle-button .bar {
  height:3px;
  width:100%;
  background-color: white;
  border-radius: 10px;
}

@media only screen and (max-width:360px){
  .toggle-button{
    display:flex;
  }
  .navbar-links{
    display:none;
    width: 100%;
  }
  .navbar{
    flex-direction:column;
    align-items:flex-start;
  }
  .navbar-links ul{
    flex-direction:column;
    width:100%;
  }


  .navbar-links.active{
    display:flex;
  }

  p.intro
  {
    margin-left:10px;
    width:100%;
  }
  div.skill-row {
    width: 100%;
    margin-left:10px;
    text-align: left;
  }
   div.experience{
    text-align: left;
    width:100%;
    margin-left:10px;


  }
}
/* flex helps to apply to children */
h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
}
table{
  margin:auto;



}
span{
  color:#66BFBF;
}



p {
  line-height: 2;
}
ul{
  list-style: none;
}

hr {
  border: dotted #43d8c9 6px;
  border-bottom: none;
  width: 5%;
  margin: 80px auto;
}

a{
  color: #EAF6F6 ;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #11999E;
}

.top-container {
  background-color: #E4F9F5;

  padding-top: 100px;
}

.middle-container {
  margin: 80px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;

}


.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.mypic{
  padding-bottom:50px;
}

.pro {
  text-decoration: underline;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;

}







.intro {
  width: 50%;
  text-align:left;
  margin:0 auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}


.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}




.icon{color:#035aa6;}
.code-img {
  width: 25%;
  float: right;
  margin-right: 30px;
  margin-bottom: 50px
}

.experience{
  text-align: left;
  width:50%;
  margin:80px auto 80px auto;


}


.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color:#ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb ;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
